<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>883304852679-5c40dvfsbfuq5js2il5o421v8vn8ev8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883304852679-5c40dvfsbfuq5js2il5o421v8vn8ev8l</string>
	<key>API_KEY</key>
	<string>AIzaSyAFGMJmmWXXAMd_hLUc1wWfb2_UENL5hZM</string>
	<key>GCM_SENDER_ID</key>
	<string>883304852679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fichteam.fichapp</string>
	<key>PROJECT_ID</key>
	<string>fich-7e2b3</string>
	<key>STORAGE_BUCKET</key>
	<string>fich-7e2b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:883304852679:ios:7877499960757ca1</string>
	<key>DATABASE_URL</key>
	<string>https://fich-7e2b3.firebaseio.com</string>
</dict>
</plist>